.principal {
    /* background: #ff0000;
background: linear-gradient(57deg,#ff0000 0%, #00ff00 80%);
background: -webkit-linear-gradient(57deg,#ff0000 0%, #00ff00 80%);
background: -moz-linear-gradient(57deg,#ff0000 0%, #00ff00 80%); */
background-image: url("img/coup-de-coeur-1.jpg");


}

.menu{
	float: right;
    background-image: url("img/coup-de-coeur-2.jpg");
    background-size:cover ;
}


display: inline block